h1{
    color: blueviolet;
}
p{
    color: rgb(195, 0, 255)
}
li{
    color: rgb(98, 43, 226);
}
h2{
    color:rgb(206, 0, 154);
}
body{
    background-color: rgb(0, 0, 0);
}
#start-strony{
    color: white
}
a:link {
    color: white;
    background-color: blueviolet;
    text-decoration: none;
  }
  
  a:visited {
    color: white;
    background-color: blueviolet;
    text-decoration: none;
  }
  
  a:hover {
    color: black;
    background-color: white;
    text-decoration: underline;
  }
  
  a:active {
    color: white;
    background-color: blueviolet;
    text-decoration: underline;
  }